<div class="w-full flex mx-auto flex-col items-center justify-start mt-32 mb-20 px-2 max-w-[485px] md:mt-40">
    
    <div *ngIf="!isToken" class="flex flex-col justify-center w-full">
        
        <p class="text-2xl font-bold text-center">Recovery section</p>
        
        <div class="mt-4">
            <p *ngIf="!isRequestSent" class="text-gray-600">Type the email associated to your account</p>
            <p *ngIf="isRequestSent" class="text-green-400 font-medium">We have sent next steps to your email <i class="fa fa-solid fa-check"></i></p>
            <input #email class="w-full py-1 px-2 border border-black rounded-md mt-3" type="email" placeholder="Type your email here">
        </div>

        <button type="button" (click)="onSubmit(email.value)" class="border border-black rounded-md mt-2 hover:bg-gray-300 font-medium">Submit</button>

    </div>

    <div *ngIf="isToken" class="w-full flex flex-col items-center justify-center gap-4">

        <div class="flex flex-col items-center justify-start">
            <label class="font-medium" for="p1">Your password here</label>
            <div class="relative">
                <input #pass1 class="px-2 border border-black rounded-md py-1" [type]="showPassword1?'text':'password'" placeholder="Password" id="p1">
                <i (click)="showPassword1 = !showPassword1" *ngIf="!showPassword1" class="fa fa-solid cursor-pointer fa-eye absolute top-1/2 -translate-y-1/2 right-1.5"></i>
                <i (click)="showPassword1 = !showPassword1" *ngIf="showPassword1" class="fa fa-solid cursor-pointer fa-eye-slash absolute top-1/2 -translate-y-1/2 right-1.5"></i>
            </div>
        </div>

        <div class="flex flex-col items-center justify-start">
            <label class="font-medium" for="p2">Type your password again</label>
            <div class="relative">
                <input #pass2 class="px-2 border border-black rounded-md py-1" [type]="showPassword2?'text':'password'" placeholder="Password again" id="p2">
                <i (click)="showPassword2 = !showPassword2" *ngIf="!showPassword2" class="fa fa-solid cursor-pointer fa-eye absolute top-1/2 -translate-y-1/2 right-1.5"></i>
                <i (click)="showPassword2 = !showPassword2" *ngIf="showPassword2" class="fa fa-solid cursor-pointer fa-eye-slash absolute top-1/2 -translate-y-1/2 right-1.5"></i>
            </div>
        </div>

        <button type="button" class="text-md font-medium mt-6 border border-black rounded-md px-2 py-1 hover:bg-gray-300"
        (click)="changePassword(pass1.value, pass2.value)">Change password</button>

    </div>
    
</div>